In [19]:
pip install yfinance --upgrade --no-cache-dir

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied, skipping upgrade: pandas>=0.24 in /Users/khan0196/opt/anaconda3/lib/python3.8/site-packages (from yfinance) (1.1.3)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in /Users/khan0196/opt/anaconda3/lib/python3.8/site-packages (from yfinance) (1.19.2)
Requirement already satisfied, skipping upgrade: requests>=2.20 in /Users/khan0196/opt/anaconda3/lib/python3.8/site-packages (from yfinance) (2.24.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied, skipping upgrade: lxml>=4.5.1 in /Users/khan0196/opt/anaconda3/lib/python3.8/site-packages (from yfinance) (4.6.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /Users/khan0196/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /Users/khan0196/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /Users/khan0196/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/khan0196/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.25.11)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /Users/khan0196/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /Users/khan0196/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: six>=1.5 in /Users/khan0196/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23907 sha256=0be4cdb0f449db1953bb31f6ecc599c9b4f3b87233d9aebdc3795fb4f3432981
  Stored in directory: /private/var/folders/qt/5qs3rw6x1vn2txm2k0_h2n2w0000gn/T/pip-ephem-wheel-cache-ecgeagwr/wheels/ec/cc/c1/32da8ee853d742d5d7cbd11ee04421222eb354672020b57297
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8367 sha256=7500a5f7dcd1b21aa0cbabf46de811d4e92333df8f8d65bcd7f004b282a1dcb7
  Stored in directory: /private/var/folders/qt/5qs3rw6x1vn2txm2k0_h2n2w0000gn/T/pip-ephem-wheel-cache-ecgeagwr/wheels/57/6d/a3/a39b839cc75274d2acfb1c58bfead2f726c6577fe8c4723f13
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.63
Note: you may need to restart the kernel to use updated packages.

In [71]:
import yfinance as yf
import datetime as dt
import pandas as pd
import numpy as np

In [ ]:
# scrap the current member of S&P500 from wikipedia
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
data = pd.read_html(url)

In [26]:
sp500  = data[0].iloc[:,[0,1,6,7]]
sp500.columns = ['ticker','name','date','cik']
sp500 = sp500[~sp500['ticker'].isnull()]
sp500.head()

    ticker                 name        date      cik
0      MMM                   3M  1976-08-09    66740
1      ABT  Abbott Laboratories  1964-03-31     1800
2     ABBV               AbbVie  2012-12-31  1551152
3     ABMD              Abiomed  2018-05-31   815094
4      ACN            Accenture  2011-07-06  1467373
..     ...                  ...         ...      ...
500    YUM          Yum! Brands  1997-10-06  1041061
501   ZBRA   Zebra Technologies  2019-12-23   877212
502    ZBH        Zimmer Biomet  2001-08-07  1136869
503   ZION        Zions Bancorp  2001-06-22   109380
504    ZTS               Zoetis  2013-06-21  1555280

[505 rows x 4 columns]

sp500_sorted = sp500.copy()
sp500_sorted = sp500.iloc[ sp500_sorted.sort_values(by=['ticker'],ascending =True).index.values,:].copy()
sp500_sorted

In [27]:
sp500_sorted = sp500.copy()
sp500_sorted = sp500_sorted.sort_values(by=['ticker'],ascending =True,ignore_index = True)
sp500_sorted.head()

  ticker                     name        date      cik
0      A     Agilent Technologies  2000-06-05  1090872
1    AAL  American Airlines Group  2015-03-23     6201
2    AAP       Advance Auto Parts  2015-07-09  1158449
3   AAPL                    Apple  1982-11-30   320193
4   ABBV                   AbbVie  2012-12-31  1551152

In [36]:
test = sp500_sorted['ticker'].tolist()

['A',
 'AAL',
 'AAP',
 'AAPL',
 'ABBV',
 'ABC',
 'ABMD',
 'ABT',
 'ACN',
 'ADBE',
 'ADI',
 'ADM',
 'ADP',
 'ADSK',
 'AEE',
 'AEP',
 'AES',
 'AFL',
 'AIG',
 'AIZ',
 'AJG',
 'AKAM',
 'ALB',
 'ALGN',
 'ALK',
 'ALL',
 'ALLE',
 'AMAT',
 'AMCR',
 'AMD',
 'AME',
 'AMGN',
 'AMP',
 'AMT',
 'AMZN',
 'ANET',
 'ANSS',
 'ANTM',
 'AON',
 'AOS',
 'APA',
 'APD',
 'APH',
 'APTV',
 'ARE',
 'ATO',
 'ATVI',
 'AVB',
 'AVGO',
 'AVY',
 'AWK',
 'AXP',
 'AZO',
 'BA',
 'BAC',
 'BAX',
 'BBWI',
 'BBY',
 'BDX',
 'BEN',
 'BF.B',
 'BIIB',
 'BIO',
 'BK',
 'BKNG',
 'BKR',
 'BLK',
 'BLL',
 'BMY',
 'BR',
 'BRK.B',
 'BRO',
 'BSX',
 'BWA',
 'BXP',
 'C',
 'CAG',
 'CAH',
 'CARR',
 'CAT',
 'CB',
 'CBOE',
 'CBRE',
 'CCI',
 'CCL',
 'CDAY',
 'CDNS',
 'CDW',
 'CE',
 'CERN',
 'CF',
 'CFG',
 'CHD',
 'CHRW',
 'CHTR',
 'CI',
 'CINF',
 'CL',
 'CLX',
 'CMA',
 'CMCSA',
 'CME',
 'CMG',
 'CMI',
 'CMS',
 'CNC',
 'CNP',
 'COF',
 'COO',
 'COP',
 'COST',
 'CPB',
 'CPRT',
 'CRL',
 'CRM',
 'CSCO',
 'CSX',
 'CTAS',
 'CTLT',
 'CTRA',
 'CTSH',
 'CTVA',
 'CTXS',
 'CVS',
 'CVX',
 'CZR',
 'D',
 'DAL',
 'DD',
 'DE',
 'DFS',
 'DG',
 'DGX',
 'DHI',
 'DHR',
 'DIS',
 'DISCA',
 'DISCK',
 'DISH',
 'DLR',
 'DLTR',
 'DOV',
 'DOW',
 'DPZ',
 'DRE',
 'DRI',
 'DTE',
 'DUK',
 'DVA',
 'DVN',
 'DXC',
 'DXCM',
 'EA',
 'EBAY',
 'ECL',
 'ED',
 'EFX',
 'EIX',
 'EL',
 'EMN',
 'EMR',
 'ENPH',
 'EOG',
 'EQIX',
 'EQR',
 'ES',
 'ESS',
 'ETN',
 'ETR',
 'ETSY',
 'EVRG',
 'EW',
 'EXC',
 'EXPD',
 'EXPE',
 'EXR',
 'F',
 'FANG',
 'FAST',
 'FB',
 'FBHS',
 'FCX',
 'FDX',
 'FE',
 'FFIV',
 'FIS',
 'FISV',
 'FITB',
 'FLT',
 'FMC',
 'FOX',
 'FOXA',
 'FRC',
 'FRT',
 'FTNT',
 'FTV',
 'GD',
 'GE',
 'GILD',
 'GIS',
 'GL',
 'GLW',
 'GM',
 'GNRC',
 'GOOG',
 'GOOGL',
 'GPC',
 'GPN',
 'GPS',
 'GRMN',
 'GS',
 'GWW',
 'HAL',
 'HAS',
 'HBAN',
 'HBI',
 'HCA',
 'HD',
 'HES',
 'HIG',
 'HII',
 'HLT',
 'HOLX',
 'HON',
 'HPE',
 'HPQ',
 'HRL',
 'HSIC',
 'HST',
 'HSY',
 'HUM',
 'HWM',
 'IBM',
 'ICE',
 'IDXX',
 'IEX',
 'IFF',
 'ILMN',
 'INCY',
 'INFO',
 'INTC',
 'INTU',
 'IP',
 'IPG',
 'IPGP',
 'IQV',
 'IR',
 'IRM',
 'ISRG',
 'IT',
 'ITW',
 'IVZ',
 'J',
 'JBHT',
 'JCI',
 'JKHY',
 'JNJ',
 'JNPR',
 'JPM',
 'K',
 'KEY',
 'KEYS',
 'KHC',
 'KIM',
 'KLAC',
 'KMB',
 'KMI',
 'KMX',
 'KO',
 'KR',
 'KSU',
 'L',
 'LDOS',
 'LEG',
 'LEN',
 'LH',
 'LHX',
 'LIN',
 'LKQ',
 'LLY',
 'LMT',
 'LNC',
 'LNT',
 'LOW',
 'LRCX',
 'LUMN',
 'LUV',
 'LVS',
 'LW',
 'LYB',
 'LYV',
 'MA',
 'MAA',
 'MAR',
 'MAS',
 'MCD',
 'MCHP',
 'MCK',
 'MCO',
 'MDLZ',
 'MDT',
 'MET',
 'MGM',
 'MHK',
 'MKC',
 'MKTX',
 'MLM',
 'MMC',
 'MMM',
 'MNST',
 'MO',
 'MOS',
 'MPC',
 'MPWR',
 'MRK',
 'MRNA',
 'MRO',
 'MS',
 'MSCI',
 'MSFT',
 'MSI',
 'MTB',
 'MTCH',
 'MTD',
 'MU',
 'NCLH',
 'NDAQ',
 'NEE',
 'NEM',
 'NFLX',
 'NI',
 'NKE',
 'NLOK',
 'NLSN',
 'NOC',
 'NOW',
 'NRG',
 'NSC',
 'NTAP',
 'NTRS',
 'NUE',
 'NVDA',
 'NVR',
 'NWL',
 'NWS',
 'NWSA',
 'NXPI',
 'O',
 'ODFL',
 'OGN',
 'OKE',
 'OMC',
 'ORCL',
 'ORLY',
 'OTIS',
 'OXY',
 'PAYC',
 'PAYX',
 'PBCT',
 'PCAR',
 'PEAK',
 'PEG',
 'PENN',
 'PEP',
 'PFE',
 'PFG',
 'PG',
 'PGR',
 'PH',
 'PHM',
 'PKG',
 'PKI',
 'PLD',
 'PM',
 'PNC',
 'PNR',
 'PNW',
 'POOL',
 'PPG',
 'PPL',
 'PRU',
 'PSA',
 'PSX',
 'PTC',
 'PVH',
 'PWR',
 'PXD',
 'PYPL',
 'QCOM',
 'QRVO',
 'RCL',
 'RE',
 'REG',
 'REGN',
 'RF',
 'RHI',
 'RJF',
 'RL',
 'RMD',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RSG',
 'RTX',
 'SBAC',
 'SBUX',
 'SCHW',
 'SEE',
 'SHW',
 'SIVB',
 'SJM',
 'SLB',
 'SNA',
 'SNPS',
 'SO',
 'SPG',
 'SPGI',
 'SRE',
 'STE',
 'STT',
 'STX',
 'STZ',
 'SWK',
 'SWKS',
 'SYF',
 'SYK',
 'SYY',
 'T',
 'TAP',
 'TDG',
 'TDY',
 'TECH',
 'TEL',
 'TER',
 'TFC',
 'TFX',
 'TGT',
 'TJX',
 'TMO',
 'TMUS',
 'TPR',
 'TRMB',
 'TROW',
 'TRV',
 'TSCO',
 'TSLA',
 'TSN',
 'TT',
 'TTWO',
 'TWTR',
 'TXN',
 'TXT',
 'TYL',
 'UA',
 'UAA',
 'UAL',
 'UDR',
 'UHS',
 'ULTA',
 'UNH',
 'UNP',
 'UPS',
 'URI',
 'USB',
 'V',
 'VFC',
 'VIAC',
 'VLO',
 'VMC',
 'VNO',
 'VRSK',
 'VRSN',
 'VRTX',
 'VTR',
 'VTRS',
 'VZ',
 'WAB',
 'WAT',
 'WBA',
 'WDC',
 'WEC',
 'WELL',
 'WFC',
 'WHR',
 'WLTW',
 'WM',
 'WMB',
 'WMT',
 'WRB',
 'WRK',
 'WST',
 'WU',
 'WY',
 'WYNN',
 'XEL',
 'XLNX',
 'XOM',
 'XRAY',
 'XYL',
 'YUM',
 'ZBH',
 'ZBRA',
 'ZION',
 'ZTS']

In [ ]:
# retrieve data from yahoo finance
stocks = yf.download(test, start="2000-01-01", end="2021-09-01")
stocks

In [56]:
# take adjusted closing price only
stocks_adj = stocks.copy()
stocks_adj = stocks_adj.iloc[:,0:505]
stocks_adj.head()

             Adj Close                                                 \
                     A        AAL         AAP        AAPL        ABBV
Date
2000-01-03   44.349106        NaN         NaN    0.858137         NaN
2000-01-04   40.961319        NaN         NaN    0.785788         NaN
2000-01-05   38.420486        NaN         NaN    0.797286         NaN
2000-01-06   36.957581        NaN         NaN    0.728290         NaN
2000-01-07   40.037395        NaN         NaN    0.762789         NaN
...                ...        ...         ...         ...         ...
2021-08-26  173.374115  19.900000  207.807343  147.539993  120.400002
2021-08-27  173.593842  20.219999  202.831589  148.600006  119.580002
2021-08-30  176.510208  19.510000  200.164581  153.119995  120.570000
2021-08-31  175.251785  19.940001  201.866302  151.830002  120.779999
2021-09-01         NaN        NaN         NaN         NaN         NaN

                                                                        ...  \
                   ABC        ABMD         ABT         ACN        ADBE  ...
Date                                                                    ...
2000-01-03    3.046890   18.250000    9.454572         NaN   16.274673  ...
2000-01-04    2.838869   17.812500    9.184441         NaN   14.909398  ...
2000-01-05    3.059126   18.000000    9.167560         NaN   15.204174  ...
2000-01-06    3.291620   18.031250    9.488338         NaN   15.328288  ...
2000-01-07    3.719898   17.937500    9.589637         NaN   16.072983  ...
...                ...         ...         ...         ...         ...  ...
2021-08-26  116.809998  358.510010  125.470001  333.230011  652.390015  ...
2021-08-27  119.889999  358.529999  124.589996  335.660004  658.520020  ...
2021-08-30  119.519997  360.959991  125.940002  337.000000  665.989990  ...
2021-08-31  122.209999  363.959991  126.370003  336.559998  663.700012  ...
2021-09-01         NaN         NaN         NaN         NaN         NaN  ...

                                                                     \
                  XEL        XLNX        XOM       XRAY         XYL
Date
2000-01-03   7.549110   33.075756  20.156847   6.882987         NaN
2000-01-04   7.722939   32.324039  19.770765   6.882987         NaN
2000-01-05   8.020930   31.616539  20.848585   7.001975         NaN
2000-01-06   7.946431   28.874968  21.926397   7.011131         NaN
2000-01-07   7.946431   32.147171  21.862057   6.992821         NaN
...               ...         ...        ...        ...         ...
2021-08-26  67.833672  151.070007  54.709999  60.278805  134.279999
2021-08-27  68.230934  156.270004  55.770000  61.975674  134.940002
2021-08-30  68.558685  155.070007  55.160000  61.167164  136.479996
2021-08-31  68.280602  155.589996  54.520000  61.586391  136.309998
2021-09-01        NaN         NaN        NaN        NaN         NaN


                   YUM         ZBH        ZBRA       ZION         ZTS
Date
2000-01-03    4.903705         NaN   25.027779  39.500340         NaN
2000-01-04    4.805138         NaN   24.666668  37.587597         NaN
2000-01-05    4.829780         NaN   25.138889  37.543118         NaN
2000-01-06    4.788711         NaN   23.777779  38.076908         NaN
2000-01-07    4.681932         NaN   23.513889  38.165886         NaN
...                ...         ...         ...        ...         ...
2021-08-26  131.399994  149.352005  578.909973  55.750000  204.020004
2021-08-27  131.699997  149.831253  587.960022  58.549999  203.820007
2021-08-30  130.690002  149.541702  584.780029  57.200001  205.889999
2021-08-31  131.029999  150.210632  587.169983  57.900002  204.559998
2021-09-01         NaN         NaN         NaN        NaN         NaN

[5457 rows x 505 columns]

In [100]:
stocks_adj[stocks_adj.iloc[:,0].isnull()].index

DatetimeIndex([], dtype='datetime64[ns]', name='Date', freq=None)

In [101]:
stocks_adj = stocks_adj.drop(axis=0, labels =stocks_adj[stocks_adj.iloc[:,0].isnull()].index)

In [102]:
stocks_adj[stocks_adj.iloc[:,3].isnull()].index

DatetimeIndex([], dtype='datetime64[ns]', name='Date', freq=None)

In [115]:
# 363 members in S&P 500 in the market since 2000
l = stocks_adj.isnull().sum()==0
sum(l)

363

In [117]:
# remove stocks not in the market since 2000
stocks_adj_final = stocks_adj.copy()
stocks_adj_final = stocks_adj_final.iloc[:,l.tolist()]
stocks_adj_final.head()

            Adj Close                                                     \
                    A      AAPL       ABC      ABMD       ABT       ADBE
Date
2000-01-03  44.349106  0.858137  3.046890  18.25000  9.454572  16.274673
2000-01-04  40.961319  0.785788  2.838869  17.81250  9.184441  14.909398
2000-01-05  38.420486  0.797286  3.059126  18.00000  9.167560  15.204174
2000-01-06  36.957581  0.728290  3.291620  18.03125  9.488338  15.328288
2000-01-07  40.037395  0.762789  3.719898  17.93750  9.589637  16.072983

                                                      ...                      \
                  ADI       ADM        ADP      ADSK  ...       WRB       WST
Date                                                  ...
2000-01-03  29.781315  6.786990  26.092220  8.052903  ...  1.932842  5.459455
2000-01-04  28.274706  6.716288  26.092220  7.660817  ...  1.873370  5.515856
2000-01-05  28.687475  6.610242  25.841320  7.178246  ...  1.843634  5.493296
2000-01-06  27.903227  6.645592  26.186279  6.740915  ...  1.950683  5.436895
2000-01-07  28.687475  6.751640  26.782143  7.540174  ...  1.920948  5.493296

                                                                           \
                   WY       XEL       XLNX        XOM      XRAY       YUM
Date
2000-01-03  12.984768  7.549110  33.075756  20.156847  6.882987  4.903705
2000-01-04  12.496964  7.722939  32.324039  19.770765  6.882987  4.805138
2000-01-05  13.158984  8.020930  31.616539  20.848585  7.001975  4.829780
2000-01-06  13.774539  7.946431  28.874968  21.926397  7.011131  4.788711
2000-01-07  13.321579  7.946431  32.147171  21.862057  6.992821  4.681932


                 ZBRA       ZION
Date
2000-01-03  25.027779  39.500340
2000-01-04  24.666668  37.587597
2000-01-05  25.138889  37.543118
2000-01-06  23.777779  38.076908
2000-01-07  23.513889  38.165886

[5 rows x 363 columns]

In [119]:
sum(stocks_adj_final.isnull().sum())

0

In [132]:
c= stocks_adj_final.columns.copy()
c = c.to_frame()
c = c.loc[:,1].tolist()

['A',
 'AAPL',
 'ABC',
 'ABMD',
 'ABT',
 'ADBE',
 'ADI',
 'ADM',
 'ADP',
 'ADSK',
 'AEE',
 'AEP',
 'AES',
 'AFL',
 'AIG',
 'AJG',
 'AKAM',
 'ALB',
 'ALK',
 'ALL',
 'AMAT',
 'AMD',
 'AME',
 'AMGN',
 'AMT',
 'AMZN',
 'ANSS',
 'AON',
 'AOS',
 'APA',
 'APD',
 'APH',
 'ARE',
 'ATO',
 'ATVI',
 'AVB',
 'AVY',
 'AXP',
 'AZO',
 'BA',
 'BAC',
 'BAX',
 'BBWI',
 'BBY',
 'BDX',
 'BEN',
 'BIO',
 'BK',
 'BKNG',
 'BKR',
 'BLK',
 'BLL',
 'BMY',
 'BRO',
 'BSX',
 'BWA',
 'BXP',
 'C',
 'CAG',
 'CAH',
 'CAT',
 'CB',
 'CCI',
 'CCL',
 'CDNS',
 'CERN',
 'CHD',
 'CHRW',
 'CI',
 'CINF',
 'CL',
 'CLX',
 'CMA',
 'CMCSA',
 'CMI',
 'CMS',
 'CNP',
 'COF',
 'COO',
 'COP',
 'COST',
 'CPB',
 'CPRT',
 'CSCO',
 'CSX',
 'CTAS',
 'CTRA',
 'CTSH',
 'CTXS',
 'CVS',
 'CVX',
 'D',
 'DD',
 'DE',
 'DGX',
 'DHI',
 'DHR',
 'DIS',
 'DISH',
 'DLTR',
 'DOV',
 'DRE',
 'DRI',
 'DTE',
 'DUK',
 'DVA',
 'DVN',
 'DXC',
 'EA',
 'EBAY',
 'ECL',
 'ED',
 'EFX',
 'EIX',
 'EL',
 'EMN',
 'EMR',
 'EOG',
 'EQR',
 'ES',
 'ESS',
 'ETN',
 'ETR',
 'EVRG',
 'EXC',
 'EXPD',
 'F',
 'FAST',
 'FCX',
 'FDX',
 'FE',
 'FFIV',
 'FISV',
 'FITB',
 'FMC',
 'FRT',
 'GD',
 'GE',
 'GIS',
 'GL',
 'GLW',
 'GPC',
 'GPS',
 'GS',
 'GWW',
 'HAL',
 'HAS',
 'HBAN',
 'HD',
 'HES',
 'HIG',
 'HOLX',
 'HON',
 'HPQ',
 'HRL',
 'HSIC',
 'HST',
 'HSY',
 'HUM',
 'IBM',
 'IDXX',
 'IEX',
 'IFF',
 'INCY',
 'INTC',
 'INTU',
 'IP',
 'IPG',
 'IRM',
 'IT',
 'ITW',
 'IVZ',
 'J',
 'JBHT',
 'JCI',
 'JKHY',
 'JNJ',
 'JNPR',
 'JPM',
 'K',
 'KEY',
 'KIM',
 'KLAC',
 'KMB',
 'KMX',
 'KO',
 'KR',
 'KSU',
 'L',
 'LEG',
 'LEN',
 'LH',
 'LHX',
 'LIN',
 'LLY',
 'LMT',
 'LNC',
 'LNT',
 'LOW',
 'LRCX',
 'LUMN',
 'LUV',
 'MAA',
 'MAR',
 'MAS',
 'MCD',
 'MCHP',
 'MCK',
 'MCO',
 'MDT',
 'MGM',
 'MHK',
 'MKC',
 'MLM',
 'MMC',
 'MMM',
 'MO',
 'MOS',
 'MRK',
 'MRO',
 'MS',
 'MSFT',
 'MSI',
 'MTB',
 'MTCH',
 'MTD',
 'MU',
 'NEE',
 'NEM',
 'NI',
 'NKE',
 'NLOK',
 'NOC',
 'NSC',
 'NTAP',
 'NTRS',
 'NUE',
 'NVDA',
 'NVR',
 'NWL',
 'O',
 'OKE',
 'OMC',
 'ORCL',
 'ORLY',
 'OXY',
 'PAYX',
 'PBCT',
 'PCAR',
 'PEAK',
 'PEG',
 'PENN',
 'PEP',
 'PFE',
 'PG',
 'PGR',
 'PH',
 'PHM',
 'PKI',
 'PLD',
 'PNC',
 'PNR',
 'PNW',
 'POOL',
 'PPG',
 'PPL',
 'PSA',
 'PTC',
 'PVH',
 'PWR',
 'PXD',
 'QCOM',
 'RCL',
 'RE',
 'REG',
 'REGN',
 'RF',
 'RHI',
 'RJF',
 'RL',
 'RMD',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RSG',
 'RTX',
 'SBAC',
 'SBUX',
 'SCHW',
 'SEE',
 'SHW',
 'SIVB',
 'SJM',
 'SLB',
 'SNA',
 'SNPS',
 'SO',
 'SPG',
 'SPGI',
 'SRE',
 'STE',
 'STT',
 'STZ',
 'SWK',
 'SWKS',
 'SYK',
 'SYY',
 'T',
 'TAP',
 'TDY',
 'TECH',
 'TER',
 'TFC',
 'TFX',
 'TGT',
 'TJX',
 'TMO',
 'TRMB',
 'TROW',
 'TRV',
 'TSCO',
 'TSN',
 'TT',
 'TXN',
 'TXT',
 'TYL',
 'UDR',
 'UHS',
 'UNH',
 'UNP',
 'UPS',
 'URI',
 'USB',
 'VFC',
 'VLO',
 'VMC',
 'VNO',
 'VRSN',
 'VRTX',
 'VTRS',
 'VZ',
 'WAB',
 'WAT',
 'WBA',
 'WDC',
 'WEC',
 'WELL',
 'WFC',
 'WHR',
 'WM',
 'WMB',
 'WMT',
 'WRB',
 'WST',
 'WY',
 'XEL',
 'XLNX',
 'XOM',
 'XRAY',
 'YUM',
 'ZBRA',
 'ZION']

In [135]:
stocks_adj_final.columns = c
stocks_adj_final.head()

,A,AAPL,ABC,ABMD,ABT,ADBE,ADI,ADM,ADP,ADSK,...,WRB,WST,WY,XEL,XLNX,XOM,XRAY,YUM,ZBRA,ZION
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,44.349106,0.858137,3.046890,18.25000,9.454572,16.274673,29.781315,6.786990,26.092220,8.052903,...,1.932842,5.459455,12.984768,7.549110,33.075756,20.156847,6.882987,4.903705,25.027779,39.500340
2000-01-04,40.961319,0.785788,2.838869,17.81250,9.184441,14.909398,28.274706,6.716288,26.092220,7.660817,...,1.873370,5.515856,12.496964,7.722939,32.324039,19.770765,6.882987,4.805138,24.666668,37.587597
2000-01-05,38.420486,0.797286,3.059126,18.00000,9.167560,15.204174,28.687475,6.610242,25.841320,7.178246,...,1.843634,5.493296,13.158984,8.020930,31.616539,20.848585,7.001975,4.829780,25.138889,37.543118
2000-01-06,36.957581,0.728290,3.291620,18.03125,9.488338,15.328288,27.903227,6.645592,26.186279,6.740915,...,1.950683,5.436895,13.774539,7.946431,28.874968,21.926397,7.011131,4.788711,23.777779,38.076908
2000-01-07,40.037395,0.762789,3.719898,17.93750,9.589637,16.072983,28.687475,6.751640,26.782143,7.540174,...,1.920948,5.493296,13.321579,7.946431,32.147171,21.862057,6.992821,4.681932,23.513889,38.165886

In [171]:
stocks_logrt = stocks_adj_final.copy()
stocks_logrt = np.log(stocks_logrt) - np.log(stocks_logrt.shift(1))
stocks_logrt = stocks_logrt.drop(pd.Timestamp('2000-01-03 00:00:00'))

In [172]:
stocks_logrt.to_csv('sp500.csv',index=True)